<!DOCTYPE html>
<html lang="en" ng-app="submit" ng-controller="subController">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <form ng-submit="submitFav()" name="favPieForm">
  <input name="name" type="text" ng-model="favoriteForm.name">
  <input name="favorite_pie" type="text" ng-model="favoriteForm.favoritePie">
  <input type="submit">
</form>
Name: {{favoriteForm.name}}<br>
Favorite Pi: {{favoriteForm.favoritePie}}
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
<script src="submit.js"></script>
</body>
</html>